*{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #1a535c;
    margin: 0;
    padding: 0;
    text-align: justify;
    text-justify: inter-word;
    box-sizing: border-box;
}


body{
    background-color:#f7fff7;
    line-height: 1.5;

}

h1, h2{
    text-align: center;
    padding-bottom: 30px;
}

.content{
    margin: 3%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: #1a535c;
    text-decoration: none;
    cursor: pointer;
}

.navbar-container .navbar-menu {
    display: none;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
    padding-left: 7%;
}

.navbar-container .navbar-menu li a{
    text-decoration: none;
    color: #1a535c;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    color: #081c15;
    background-color: #eed7c5;
    border: 2px solid #9c89b8;
}

.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: black;
    transition: all 0.3s ease-in-out;
}

img{
    display: block;
    margin: 0 auto;
    width: 70%;
}

@media (min-width:1201px) {
    .navbar-container .navbar-menu{
        display: flex;
    }
}

@media (max-width: 1200px) {
    .navbar {
        backdrop-filter: none;
        background-color: #ffffff;
    }
    .navbar-container .navbar-menu{
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px black;
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }
    

    .navbar-toggle{
        display: block;
        z-index: 999
    }

    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (max-width: 480px) {
    .navbar-container {
        padding: 0 1rem;
    }
    .navbar-logo {
        font-size: 1.7rem;
    }
    .navbar-container .navbar-menu li a {
        font-size: 1.2 rem;
        padding: 3px 15px;
    }
}
